.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.spec.ts
**/*.test.ts
test/**
coverage/**
.github/**
.jarvis/agent-logs/**
.jarvis/todo-logs/**
webpack.config.js
node_modules/**/*.md
node_modules/**/LICENSE
node_modules/**/package.json